*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
}

body{
	background-color: rgb(204, 191, 167);
}

#cabecera{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: left;
	font-size: 18px;
	padding: 15px;
	margin: 0;
	background-color: blueviolet;	
	
	box-shadow: 3px 8px 52px -15px rgba(0, 0, 0, 0.75);
}
#cabecera p, span{	
	color: white;
}

#cabecera p{
	font-weight: bolder;
	font-size: 22px;
}

#cabecera span{
	margin-left: 2em;
}

#cabecera #gota{
	margin-right: 20px;
}
.container{	
	overflow: hidden;
	background-color: whitesmoke;
	width: 70%;
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	margin-top: 10px;
}

.container h1{
	font-size: 24px;
	padding: 1em;
	text-align: left;
}

.post p, h1{
	padding: 5px;	
}

.post p{
	margin-left: 10px;
	text-align: left;
	margin-bottom: 10px;
}